table, thead, td, th {
  border: 1px solid black;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

thead {
  text-align: right;
}

td, th {
  padding: 20px;
}

.draggables {
  padding: 50px;
}

.table-div {
  margin-top: 50px;
}

.table-div table{
  margin: 0 auto;
}

.cat-subhead > h2 {
  font-size: 20px;
  letter-spacing: 0.04rem;
}