$background-color: #7a7d7d;
$secondary-bg-color: #fffbfe;
$third-bg-color: #f98948;
$third-bg-color-a: rgba(249, 137, 72, 0.75);
$third-bg-light-shade: rgb(253, 217, 196);
$secondary-font-color: rgb(18, 13, 49);
$primary-font: "Open Sans", sans-serif;
$my-baby-blue: rgb(144, 241, 239);

@mixin centered-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin base-transition {
  transition: all 200ms ease-in-out
}

body {
  font-family: $primary-font;
  font-size: 16px;
  background-color: $background-color;
}

td,
th {
  padding: 20px;
}

th h1 {
  color: $my-baby-blue;
  text-transform: uppercase;
  border-bottom: 1px solid $my-baby-blue;
  letter-spacing: 0.2rem;
  font-size: 20px;
}

td {
  width: 150px;
  height: 75px;
}

.table-item {
  background-color: $secondary-bg-color;
}

.x-btn {
  @include base-transition;
  padding: 2px 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background: white;
  border-radius: 5px;
  position: absolute;
  top: -15px;
  right: -15px;
}

.x-btn:hover {
  cursor: pointer;
  background-color: rgba(0,0,0,0);
  border: 1px solid red;
  color: red;
}

.grabbers {
  @include base-transition;
}

.grabbers:hover {
  cursor: grab;
  background-color: $third-bg-light-shade;
}

.grabbing:active {
  cursor: grabbing;
}

.row-subheader,
.table-item-filled {
  background-color: $third-bg-color-a;
}

.subheader {
  background-color: $third-bg-color;
  border: none;
}

.table-div {
  margin-top: 50px;
}

.table-div table {
  margin: 0 auto;
}

.row-item-div {
  @include centered-flex;
  position: relative;
  height: 100%;
  width: 100%;
}

.cat-subhead h2 {
  font-size: 20px;
  color: $secondary-font-color;
  letter-spacing: 0.1rem;
}

button {
  @include base-transition;
  font-size: 15px;
  background-color: $my-baby-blue;
  border: none;
  margin: 5px;
  padding: 10px 25px;
  border-radius: 5px;
  box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

button:focus {
  border: none;
}

button:hover {
  background-color: rgb(77, 135, 134);
}

.btn-div {
  @include centered-flex;
  margin-top: 10px;
}

.socials {
  @include centered-flex;
  margin-top: 20px;
  cursor: pointer;
}

img {
  @include base-transition;
  border-radius: 50%;
}

img:hover {
  background-color: rgba(0, 0, 0, 0.25);
}